.root{
    height:fit-content;
    min-height: 110px;
    width:1500px;

    background-color: #E0E0E0;
}

.content{
    display:flex;
    flex-wrap: wrap;

    gap: 15px;

    padding:15px;

    height: 100%;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.element{
    background-color: #CCBFBF;

    min-width: 250px;
    max-width: 250px;
    height: 80%;
}

.element:hover{
    background-color: #beb2b2;
}

.element-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80px;
    margin: 10px;
}

.title{
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.filter-button{
    height:35px;
    width:35px;

    background-color:rgb(245,245,245);
    z-index:2;

    margin-right:5px;
    margin-top:5px;

    display:flex;
    place-content:center;
    flex-wrap:wrap;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.filter-button:hover{
    background-color:rgb(235,235,235);
    cursor:pointer;
}