.assignment{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    
    background-color: #CCBFBF;

    height:40px;

    cursor:pointer;
}

.assignment:hover{
    background-color: #ad9d9d;
}

.assignment-info{
    padding-left: 20px;
    
    font-size: 1.2em;
    font-weight: bold;
}

.list{
    display:flex;
    flex-direction: column;

    gap: 10px;

    width: 90%;
}